*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
data/ruw
docs
libs
renv/library
data/verwerkt/hydrologisch/dagelijkse_reeksen_per_catchment.rds

!output/rapport_biodiversiteit_waterlopen.html
